[class*="col-"].center {
  margin-right: auto !important;
  margin-left: auto !important;
  float: none;
}

body {
  background: #333333;
}

a {
  color: #000000;
  transition: all 0.25s linear;

  &:hover, &:active {
    color: #E57F00;
    text-decoration: none;
  }
}

p:last-child {
  margin: 0;
}

.btn-primary {
  border-color: #E57F00;
  background-color: #E57F00;

  &:hover {
    border-color: #656565;
    background-color: #656565;
  }
}

.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw; height: 100vh;
  animation: reduceHeader 1s 1s forwards;

  img {
    max-width: 100%; max-height: 100%;
    height: auto;
  }
}

.form-section {
  form {
    width: 100%;

    input {
      width: 100%;

      &.error {
        border-color: #FF0000;
      }
    }

    .submit-container {
      text-align: center;
    }
  }
}

.results-section {
  .card-container {
    opacity: 0;
    margin-bottom: 50px;
    animation: showCard 1s 1s forwards;
  }

  .custom-card {
    background: #FFFFFF;

    .header {
      height: 200px;
      background-size: cover;
      font-weight: 700;
    }

    .body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 75px;
    }
  }
}

@keyframes reduceHeader {
  0% {
    height: 100vh;
  }
  100% {
    height: 50vh;
  }
}

@keyframes showCard {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}